.container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

body
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 60px;
  background-color: #4c89e3;
  width: 100%;
  color: #FFF;
}

.post
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;
  border-radius: 7px;
  border-width: 1px;
  width: 700px;
  margin: 8px;
  padding: 10px;
}

.title
{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.subtitle
{
  margin: 5px;
}

.button
{
  height: 40px;
  background: none;
  border-radius: 5px;
  color: #4c89e3;
  border: 2px solid #4c89e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  cursor: normal;
}

.button:hover {
  transition: all 0.5s;
  background-color: #4c89e3;
  cursor: pointer;
  color: #FFF;
}
